In [222]:
import pandas as pd

In [362]:
prop = pd.read_csv("./data_for_testing/prop_sample.csv")
train = pd.read_csv("./data_for_testing/train_sample.csv")

In [8]:
a = train[["parcelid"]].iloc[0:10]

In [351]:
col_names = ["ID","Run_type","data_lgbm","data_xgb","data_ols","Models","CV_MAE", "CV_MSE","CV_R2",
             "Test_MAE","Test_MSE","Test_R2","Status","Training_time","Note"]
log_df = pd.DataFrame(columns = col_names)
log_df.to_pickle("log_df.pkl")

In [352]:
log_df

Empty DataFrame
Columns: [ID, Run_type, data_lgbm, data_xgb, data_ols, Models, CV_MAE, CV_MSE, CV_R2, Test_MAE, Test_MSE, Test_R2, Status, Training_time, Note]
Index: []

In [326]:
pd.read_pickle("./logs/log_df.pkl")

Empty DataFrame
Columns: [ID, Run_type, Prop_option, train_option, Models, CV_MAE, CV_MSE, CV_R2, Test_MAE, Test_MSE, Test_R2, Status, Training_time, Note]
Index: []

In [214]:
light_gbm_params = {}
light_gbm_params['max_bin'] = 10
light_gbm_params['learning_rate'] = 0.0021 # shrinkage_rate
light_gbm_params['boosting_type'] = 'gbdt'
light_gbm_params['objective'] = 'regression'
light_gbm_params['metric'] = 'l1'          # or 'mae'
light_gbm_params['sub_feature'] = 0.345
light_gbm_params['bagging_fraction'] = 0.85 # sub_row
light_gbm_params['bagging_freq'] = 40
light_gbm_params['num_leaves'] = 512        # num_leaf
light_gbm_params['min_data'] = 500         # min_data_in_leaf
light_gbm_params['min_hessian'] = 0.05     # min_sum_hessian_in_leaf
light_gbm_params['verbose'] = 0
light_gbm_params['feature_fraction_seed'] = 2
light_gbm_params['bagging_seed'] = 3



bb = pd.DataFrame([light_gbm_params])
bb

,bagging_fraction,bagging_freq,bagging_seed,boosting_type,feature_fraction_seed,learning_rate,max_bin,metric,min_data,min_hessian,num_leaves,objective,sub_feature,verbose
0,0.85,40,3,gbdt,2,0.0021,10,l1,500,0.05,512,regression,0.345,0

In [327]:
lgbm_param_df = pd.DataFrame(columns=["ID"] + bb.columns.tolist())
lgbm_param_df.to_pickle("./logs/lgbm_params_df.pkl")

In [355]:
a = train.copy()
a = a.append(a)

In [356]:
a.shape

(2002, 3)

In [363]:
prop.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,11016594,1.0,NaN,NaN,2.0,3,NaN,4.0,2.0,NaN,...,NaN,NaN,122754.0,360170,2015,237416,6735.88,NaN,NaN,6.040000e+13
1,14366692,NaN,NaN,NaN,3.5,4,NaN,NaN,3.5,NaN,...,NaN,NaN,346458.0,585529,2015,239071,10153.02,NaN,NaN,NaN
2,12098116,1.0,NaN,NaN,3.0,2,NaN,4.0,3.0,NaN,...,NaN,NaN,61994.0,119906,2015,57912,11484.48,NaN,NaN,6.040000e+13
3,12643413,1.0,NaN,NaN,2.0,2,NaN,4.0,2.0,NaN,...,NaN,NaN,171518.0,244880,2015,73362,3048.74,NaN,NaN,6.040000e+13
4,14432541,NaN,NaN,NaN,2.5,4,NaN,NaN,2.5,NaN,...,2.0,NaN,169574.0,434551,2015,264977,5488.96,NaN,NaN,6.060000e+13